@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.sidebar-icon {
		@apply relative flex items-center justify-center
					 h-12 w-12 my-2 mx-auto
					 bg-gray-800 text-green-500
					 hover:bg-green-600 hover:text-white
					 rounded-3xl hover:rounded-xl
					 transition-all duration-300 ease-linear
					 cursor-pointer;
	}

	.sidebar-tooltip {
		@apply absolute w-auto p-2 m-2 min-w-max left-14
		rounded-md shadow-md
		text-white bg-gray-900
		text-xs font-bold
		transition-all duration-100 scale-0 origin-left;
	}

	.tech-i-use {
		@apply flex flex-row justify-between gap-5 items-center shadow-lg p-10 rounded-md
		bg-slate-50
	}

	.sub-heading {
		@apply pt-9 text-lg underline underline-offset-8 font-semibold
	}
}

html {
	scroll-behavior: smooth;
}

#about-me {
	height: 100vh;
	/* scroll-snap-align: start; */
}

#projects {
	height: 50vh;
}

main {

}

/* main { */
/* 	scroll-snap-type: y mandatory; */
/* 	overflow-y: scroll; */
/* 	height: 100vh; */
/* } */
